@font-face {
  font-family: ProximaNova;
  src: url("./fonts/ProximaNovaRegular.otf");
  font-weight: normal;
}

@font-face {
  font-family: ProximaNova;
  src: url("./fonts/ProximaNovaBold.otf");
  font-weight: bold;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./fonts/SourceSansProRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SourceSansPro;
  src: url("./fonts/SourceSansProBold.ttf");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "SourceSansPro", serif;
  height: 100vh;
  background-color: #fff;
}

header {
  background: url("./images/bg-small.png") bottom center;
  background-size: cover;
  overflow-x: hidden;
  padding: 10px 0 30px;
}

.header-container {
  max-width: min(87.5vw, 1360px);
  margin: 0 auto;
}

#topbar {
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}

.widget {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  column-gap: 5px;
  align-items: center;
}

.widget-header {
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.9px;
  grid-column: 2;
}

.widget-img {
  width: 16px;
  grid-column: 1;
}

.widget-text {
  font-family: "ProximaNova", serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  grid-column: 2;
}

.widget-text span {
  opacity: 0.4;
}

#logo {
  display: block;
  border-radius: 100%;
  width: 100px;
  z-index: 1;
}

#logo img {
  display: block;
  max-width: 100%;
}

/*************************** NAVIGATION ****************************/

.nav-checkbox {
  display: none;
}

.nav-checkbox:checked ~ .nav {
  transform: translateX(0);
}

.nav-btn-main {
  position: fixed;
  top: 10px;
  right: 10px;
}

.nav-btn {
  cursor: pointer;
  /* display: block; */
}

.nav-btn img {
  display: block;
}

.nav {
  width: min(93.75vw, 300px);
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;
  z-index: 10;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #F8F8F8;
}

.nav-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.nav-login p {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #002868;
}

.nav-login svg rect {
  fill: #002868;
}

.nav-list {
  list-style: none;
  padding: 20px 10px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #002868;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  flex: 1;
}

.nav-link:hover {
  color: #BF0A30;
}

.dropdown {
  background: #F8F8F8;
  max-width: calc(100% - 10px);
}

.dropdown-back {
  display: flex;
  align-items: center;
}

.dropdown-back p {
  font-size: 14px;
  line-height: 18px;
  color: #002868;
}

/*******************************************************************/

#paf {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paf img {
  display: block;
  width: 228px;
}

#featured {
  /* max-width: min(87.5vw, 460px);
  height: min(87.5vw, 460px); */
  width: 280px;
  height: 280px;
  background: url("./images/circle.png") center no-repeat;
  background-size: cover;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 20px 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.featured-logo-img {
  width: 18px;
  height: auto;
}

.featured-logo-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}

#featured h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

#featured p {
  font-size: 14px;
  line-height: 18px;
}

#featured p span {
  display: none;
}

.btn {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 15px 0;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.btn-featured {
  padding: 10px 0;
  width: 140px;
}
