@media (min-width: 600px) {
  .form-heading {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  hr:first-of-type {
    display: block;
    margin: 20px auto;
  }

  hr {
    margin-bottom: 20px;
  }

  .form-submit {
    width: 40%;
  }

  header {
    background: url("./images/bg.png") bottom center;
    background-size: cover;
  }
}

@media (min-width: 960px) {
  .logo-img {
    max-width: 180px;
  }

  .footer-nav {
    align-self: stretch;
    margin-bottom: 20px;
  }

  .social-group {
    gap: 30px;
  }

  .footer-menu {
    flex-direction: row;
    gap: 0;
  }

  footer::after {
    top: -22px;
    right: 100px;
  }

  .section-form {
    padding: 60px 0 75px;
  }

  .section-title {
    margin: 40px 0 30px;
  }

  .btn-activities {
    margin: 30px 0 40px;
  }

  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(191, 10, 48, 0.5);
    border-radius: 4px;
  }

  .section-census {
    background: url("./images/census-bg.png") calc(50% + 15px) 10px no-repeat;
    padding: 40px 0 60px;
  }

  .tree {
    gap: 20px;
  }

  .tree-icon {
    max-width: 46px;
  }

  .tree-text {
    max-width: 255px;
  }

  .section-census h1 {
    font-size: 48px;
    line-height: 50px;
    margin: 40px 0;
  }

  .census-text {
    text-align: left;
  }

  .census-text h3 {
    height: 60px;
    margin-bottom: 0;
  }

  .census-right {
    display: block;
  }

  #title {
    margin-bottom: 5px;
  }

  #date {
    font-size: 34px;
    line-height: 43px;
  }

  .login-container {
    display: flex;
  }

  #main {
    display: block;
  }

  #logo {
    position: absolute;
    left: 50px;
    top: -10px;
    border: 10px solid #ad3128;
    width: 200px;
  }

  .widget-container {
    justify-content: flex-start;
    width: auto;
  }

  .widget-header {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
  }

  .widget-img {
    width: 20px;
  }

  .widget-text {
    font-size: 26px;
    line-height: 32px;
  }

  #topbar {
    padding: 0 40px 0 245px;
    justify-content: space-between;
  }

  #paf {
    margin: 20px 0 30px;
    padding-left: 245px;
    justify-content: flex-start;
  }

  #paf img {
    width: 262px;
  }

  header {
    padding-bottom: 80px;
  }

  #featured {
    width: 460px;
    height: 460px;
    border: 6px solid #fff;
    padding: 40px 30px 60px;
  }

  .featured-logo-img {
    width: 24px;
  }

  .featured-logo-text {
    margin-top: 5px;
  }

  #featured h2 {
    font-size: 24px;
    line-height: 30px;
  }

  #featured p {
    font-size: 16px;
    line-height: 25px;
  }

  #featured p span {
    display: block;
  }

  .btn-featured {
    padding: 15px 0;
    width: 200px;
  }
}

@media (min-width: 1240px) {
  footer {
    padding: 30px 40px 20px;
  }

  .btn-activities {
    width: 200px;
  }

  .activity h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
